In [1]:

#read the data
import pandas as pd
data=pd.read_csv("https://raw.githubusercontent.com/devesh1093/Hackveda-Casualty-Severity-/main/Accident_Dataset_prepared.csv")

In [2]:
data.drop("1st Road Class",axis=1,inplace=True)
data.head(3)

,Number of Vehicles,Road Surface,Lighting Conditions,Weather Conditions,Casualty Victim,Casualty Severity,Sex of Casualty,Age of Casualty,Type of Vehicle
0,5,3,1,4,1,1,1,36,6
1,5,3,1,4,2,1,1,27,6
2,1,2,2,1,3,2,1,68,4

In [3]:
data.columns

Index(['Number of Vehicles', 'Road Surface', 'Lighting Conditions',
       'Weather Conditions', 'Casualty Victim', 'Casualty Severity',
       'Sex of Casualty', 'Age of Casualty', 'Type of Vehicle'],
      dtype='object')

In [4]:
Y= data["Casualty Severity"]#dependent
independent_variables=data.columns
independent_variables= independent_variables.delete(5)
X=data[independent_variables]#training data

In [5]:
#Perform Clustering to prepare a clustered dataset
from sklearn.cluster import AgglomerativeClustering
ag_cluster= AgglomerativeClustering(n_clusters=3)

#Train the agglomerative clustering model
ag_cluster.fit(X)

AgglomerativeClustering(n_clusters=3)

In [6]:
#Predict the cluster label
data["Cluster Labels"]=ag_cluster.fit_predict(X)

In [7]:
#Select dependent and independent variables
Y= data["Casualty Severity"]#dependent
independent_variables=data.columns
independent_variables= independent_variables.delete(5)
X=data[independent_variables]#training data

In [8]:
#Classify using Gradient Boosting Trees
from sklearn.ensemble import GradientBoostingClassifier
gbc= GradientBoostingClassifier(
                    random_state = 1337,
                    verbose = 0,
                    n_estimators = 100,
                    learning_rate = 0.1,
                    loss = 'deviance',
                    max_depth = 3
                   )
gbc.fit(X,Y)

GradientBoostingClassifier(random_state=1337)

In [9]:
#Predict using GBC Classifier
data["Predicted Casualty Severity" ]=gbc.predict(X)
data.head(3)

,Number of Vehicles,Road Surface,Lighting Conditions,Weather Conditions,Casualty Victim,Casualty Severity,Sex of Casualty,Age of Casualty,Type of Vehicle,Cluster Labels,Predicted Casualty Severity
0,5,3,1,4,1,1,1,36,6,0,1
1,5,3,1,4,2,1,1,27,6,0,1
2,1,2,2,1,3,2,1,68,4,2,1

In [10]:
# Take a user input and predict casualty severity
independent_variables= independent_variables.delete(8)
independent_variables

Index(['Number of Vehicles', 'Road Surface', 'Lighting Conditions',
       'Weather Conditions', 'Casualty Victim', 'Sex of Casualty',
       'Age of Casualty', 'Type of Vehicle'],
      dtype='object')

In [11]:
user_input={}
for var in independent_variables:
  temp =input("Enter "+var+": ")
  user_input[var]=temp

Enter Number of Vehicles: 6
Enter Road Surface: 1
Enter Lighting Conditions: 1
Enter Weather Conditions: 1
Enter Casualty Victim: 1
Enter Sex of Casualty: 1
Enter Age of Casualty: 20
Enter Type of Vehicle: 4

In [12]:
#Calculate the cluster labels
#Calculate the cluster labels
index= X.shape[0]
user_df=pd.DataFrame(data=user_input,index=[index],columns=independent_variables)
X=pd.concat([X.drop("Cluster Labels", axis=1),user_df],axis=0)

In [13]:
X["Cluster Labels"]=ag_cluster.fit_predict(X)
X.tail(1)

,Number of Vehicles,Road Surface,Lighting Conditions,Weather Conditions,Casualty Victim,Sex of Casualty,Age of Casualty,Type of Vehicle,Cluster Labels
2664,6,1,1,1,1,1,20,4,0

In [20]:
user_request=X.tail(1)
user_request 
severity=gbc.predict(user_request )
severity=severity[0]
print("Casuality Severity is ", severity)
if severity==1:
    print("Casualty Severity is Slight")
elif severity==2:
    print("Casualty Severity is Severe")
elif severity==3:
    print("Casualty Severity is Fatal")

Casuality Severity is  1
Casualty Severity is Slight